@import 'variables';
@import 'mixins';

.container {
  display: flex;
  flex-direction: column;
  max-width: $commonWidth;
  margin: 0 auto;
  padding: 0 $gutter;
  width: 100%;

  @include breakpoint(el) {
    max-width: 1200px;
    padding: 0 15px;
  }

  @include breakpoint(md) {
    padding: 0 30px;
  }

}

.title {
  font: 900 32px $roboto;

  @include breakpoint(md) {
    font-size: 48px;
    text-align: center;
  }

  @include breakpoint(el) {
    font-size: 52px;
  }

  &--white {
    color: $white;
  }

  &--popup {
    font-size: 20px;

    @include breakpoint(md) {
      font-size: 34px;
    }

    @include breakpoint(el) {
      font-size: 48px;
    }

  }

}

.button {
  display: block;
  height: 50px;
  background: $red;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: $white;
  transition: all .25s ease-in-out;
  width: 100%;

  @include breakpoint(md) {
    font-size: 20px;
  }

  &:active {
    background: $dark-red;
  }

  &:hover {
    @include breakpoint(el) {
      background: $dark-grey;
    }
  }

  &--white {
    &:hover {
      @include breakpoint(el) {
        background: $white;
        color: $dark-grey;
      }
    }
  }

}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(0,0,0,0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.has-error {
  input, 
  textarea {
    border-bottom-color: brown;
  }
}

// SVG INLINE ICONS
.icon-email, 
.icon-phone, 
.icon-call,
.icon-building {
  vertical-align: middle;
  margin-right: 5px;
}

.icon-email {
  width: 18px;
  height: 14px;

  @include breakpoint(md) {
    width: 22px;
  }

}

.icon-phone {
  margin-right: 10px;
  width: 18px;
}

.icon-call {
  width: 20px;
  height: 21px;
}

.icon-building {
  width: 25px;
  margin-right: 10px;
}
