%svg-common {
	background: url("../icons/sprite.svg") no-repeat;
}

%-svg-icon-building {
	@extend %svg-common;
	background-position: 0 0;
	width: 25px;
	height: 25px;
}

%-svg-icon-call {
	@extend %svg-common;
	background-position: 0 5.112474437627812%;
	width: 20px;
	height: 20px;
}

%-svg-icon-docs {
	@extend %svg-common;
	background-position: 0 10.227272727272727%;
	width: 69px;
	height: 69px;
}

%-svg-icon-email {
	@extend %svg-common;
	background-position: 0 23.123732251521297%;
	width: 22px;
	height: 16px;
}

%-svg-icon-money {
	@extend %svg-common;
	background-position: 0 29.345372460496613%;
	width: 96px;
	height: 66px;
}

%-svg-icon-phone-black {
	@extend %svg-common;
	background-position: 0 40.49586776859504%;
	width: 15px;
	height: 25px;
}

%-svg-icon-phone-white {
	@extend %svg-common;
	background-position: 0 47.62931034482759%;
	width: 23px;
	height: 45px;
}

%-svg-icon-poput {
	@extend %svg-common;
	background-position: 0 62.149532710280376%;
	width: 80px;
	height: 81px;
}

%-svg-icon-removal {
	@extend %svg-common;
	background-position: 0 77.62863534675616%;
	width: 86px;
	height: 62px;
}

%-svg-like {
	@extend %svg-common;
	background-position: 0 100%;
	width: 100px;
	height: 100px;
}

