// Paths
$imageDir: '../images/';
$iconDir: '../icons/';
$fontDir: '../fonts/';
$videoDir: '../videos/';

// Grid
$commonWidth: 1200px;
$gutter: 30px;

// Fonts
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;

// Colors
$white: #FFF;
$black: #000;
$light-grey: #555;
$dark-grey: #333;
$red: #FB794F;
$dark-red: #F35A2A;