// Paths
$imageDir: '../images/';
$iconDir: '../icons/';
$fontDir: '../fonts/';
$videoDir: '../videos/';

// Grid
$commonWidth: 1200px;
$gutter: 15px;

// Fonts
$mainFont: 'Raleway', sans-serif;

// Colors
$white: #FFF;
$black: #000;
 