@import '../helpers/variables';
@import '../helpers/mixins';

.main-footer {
  // Прижимаем футер к низу экрана
  margin-top: auto;
  background: $dark-grey;
  padding-top: 20px;

  @include breakpoint(el) {
    padding-top: 40px;
  }

  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: 50px;

    @include breakpoint(el) {
      max-width: 108px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__subnav {
    width: calc(100% - 61px - 15px);
  }

  &__development {
    margin-top: 20px;
  }

}