@import '../helpers/variables';
@import '../helpers/mixins';

.main-content {

  &__advantages {
    margin-bottom: -25px;
    position: relative;
    z-index: 2;

    @include breakpoint(md) {
      margin-bottom: -38px;
    }

  }

  &--thanks {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

}