@import '../helpers/variables';
@import '../helpers/mixins';

.main-header {
  position: relative;
  background: $dark-grey url($imageDir + 'header-bg-320.jpg') center / cover no-repeat;
  color: $white;
  padding: 50px 0 100px;

  @include breakpoint(md) {
    padding: 76px 0 146px;
    background-image: url($imageDir + 'header-bg-768.jpg');
  }

  @include breakpoint(el) {
    padding: 60px 0 160px;
    background-image: url($imageDir + 'header-bg-1920.jpg');
  }

  .container {

    @include breakpoint(md) {
     padding: 0 60px;
    }

    @include breakpoint(el) {
      padding: 0 30px;
     }

  }

  &__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include breakpoint(md) {
      justify-content: flex-start;
    }

  }

  &__phone {
    display: block;
    position: relative;
    color: $white;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    @include breakpoint(md) {
      font-size: 22px;
      margin-left: 200px;
    }

    @include breakpoint(el) {
      font-size: 22px;
      margin-left: 250px;
    }

    &:active {
      color: $dark-red;
      > svg {
        path {
          fill: $dark-red;
        }
      }
    }

    &:hover {
      @include breakpoint(el) {
        color: $red;
      }
    }

  }

  .icon-phone {
    width: 14px;

    @include breakpoint(md) {
      width: 20px;
      margin-right: 20px;
    }

  }

  &__preview {
    margin-top: 70px;

    @include breakpoint(el) {
      margin-top: 80px;
    }

  }
}