@import '../helpers/variables';
@import '../helpers/mixins';

.order {

  @include breakpoint(md) {
    max-width: 406px;
    margin: 0 auto;
  }

  @include breakpoint(el) {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    margin: 0;
    padding-right: 100px;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;

    @include breakpoint(md) {
      text-align: center;
      font-size: 20px;
    }

    @include breakpoint(el) {
      text-align: right;
      font-size: 24px;
      margin-right: 89px;
      max-width: 290px;
    }

    b {
      display: block;
      font-size: 30px;
      margin-bottom: 5px;

      @include breakpoint(el) {
        font-size: 36px;
        margin-bottom: 10px;
      }

    }
  }

  &__form {
    margin-top: 20px;

    @include breakpoint(md) {
      margin-top: 35px;
    }

    @include breakpoint(el) {
      max-width: 406px;
      margin-top: 0;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }

    &-item {
      width: calc( 100% / 2 - 20px );
      margin-bottom: 17px;

      @include breakpoint(md) {
        margin-bottom: 25px;
      }

      &--long {
        width: 100%;
      }

    }

    &-input,
    &-textarea {
      width: 100%;
      background: none;
      border: 0;
      border-bottom: 2px solid #ddd;
      color: $white;
      height: 30px;
      @include placeholder {
        color: $white;
      }
      @include placeholderHidden;

      @include breakpoint(md) {
        font-size: 18px;
        height: 40px;
      }

      &:focus {
        border-bottom-color: $white;
      }

    }

    &-input {

      &--tech {
        display: none !important;
      }

    }

    &-textarea {
      resize: none;

      @include breakpoint(md) {
        padding-top: 8px;
      }

    }

    &-button {
      @include breakpoint(md) {
        max-width: 130px;
        height: 40px;
        font-size: 18px;
        margin-left: auto;
      }
    }

  }

  // POPUP STYLES
  &-popup {
    background: $white;
    padding: 40px 0;
    z-index: 120;
    position: relative;
    display: none;
    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    animation: slide-down .25s ease-in-out;

    @include breakpoint(md) {
      padding: 60px 90px 80px;
    }

    &--show {
      display: block;
    }

    .container {
      flex-direction: column;
      background: $white;
      max-width: 768px;
    }

    &__title {
      text-align: center;
    }

    &__form-list {
      margin-top: 20px;

      @include breakpoint(md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
      }

    }

    &__form-item {
      margin-bottom: 10px;
      width: 100%;

      @include breakpoint(md) {
        margin-bottom: 17px;

        &--name, 
        &--phone {
          width: calc(100% / 2 - 11px);
        }
      }

    }

    &__form-input,
    &__form-textarea {
      width: 100%;
      background: none;
      border: 0;
      border: 1px solid #ddd;
      color: #AAAAAA;
      height: 50px;
      padding: 5px 20px;
      font-weight: 400;
      font-family: $roboto;
      @include placeholder {
        color: #AAAAAA;
      }
      @include placeholderHidden;

      @include breakpoint(md) {
        font-size: 16px;
      }

      @include breakpoint(el) {
        font-size: 18px;
        height: 60px;
      }

      &:focus {
        border-color: $light-grey;
      }
      
    }

    &__form-input {

      &--tech {
        display: none !important;
      }

    }

    &__form-textarea {
      resize: none;
      padding-top: 15px;
      height: 100px;

      @include breakpoint(el) {
        font-size: 18px;
        height: 150px;
        padding-top: 20px;
      }

    }

    &__form-button {

      @include breakpoint(el) {
        font-size: 24px;
        height: 60px;
      }

    }

  }

}