@import '../helpers/variables';
@import '../helpers/mixins';

.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 500px;
}

.thanks__text {
  font-size: 17px;
  position: relative;
  padding-top: 115px;
  color: #333;
  text-align: center;
  &::before {
    @include pseudo();
    top: 0;
    left: calc(50% - 50px);
    background: url($iconDir + 'like.svg') no-repeat;
    width: 100px;
    height: 100px;
  }
  strong {
    margin-bottom: 10px;
    font-size: 38px;
    font-weight: 400;
    display: block;
    @include breakpoint(el) {
      font-size: 48px;
    }
  }
}

.thanks__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.4;
  margin-top: 40px;
  min-width: 100%;
  @include breakpoint(md) {
    min-width: 420px;
  }
}

.main-content--thanks {
  height: 100%;
}